<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
<<<<<<< HEAD
  </head>
  <body>
    <% if (loggedInUser) { %>
      <h1>Home</h1>
    <h2>안녕하세요, <%= loggedInUser.username %>님!</h2>
    <form action="/logout" method="POST">
      <button type="submit">로그아웃</button>
    </form>
    <ul>
      <li>
        <a href="/profile/<%=loggedInUser.id %>">
          프로필 페이지(로그인해야만 가능)
        </a>
      </li>
      <li><a href="/cgv">cgv 시간 계산</a></li>
      <li><a href="/posts">전체 게시판</a></li>
      <li><a href="/createPost">글쓰기</a></li>
    </ul>

=======
    <head>
      <!-- 부트스트랩 CSS -->
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      />
    </head>
  </head>
  <body>
    <% if (loggedInUser) { %>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="background-color: #e3f2fd"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/profile/<%=loggedInUser.id %>">Profile</a>
            <a class="nav-link" href="/cgv">CGV</a>
            <a class="nav-link" href="/users">가입된 유저들 목록</a>
            <form action="/logout" method="POST">
              <button type="submit">로그아웃</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <h1>Home</h1>
    <h2>안녕하세요, <%= loggedInUser.username %>님!</h2>
>>>>>>> c527fb4f42a3b2895cf6ffca352f67785c3b312c
    <ul>
      <% users.forEach(user =>{ %>
      <li>
        <p>사용자명: <%= user.username %></p>
        <p>생년월일: <%= user.birthdate.toDateString() %></p>
        <a href="/profile/<%=user._id %>">
          <img src="/profile-image/<%=user.id%>" alt="프로필사진" />
        </a>
      </li>

      <% }) %>
    </ul>

    <% } else { %>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="background-color: #e3f2fd"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/signup"
              >Sign up</a
            >
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/profile">Profile</a>
            <a class="nav-link" href="/cgv">CGV</a>
            <a class="nav-link" href="/users">가입된 유저들 목록</a>
          </div>
        </div>
      </div>
    </nav>
    <h1>Home</h1>
    <br>
    <h2>전체 게시판</h2>
    <br>
    <ul>
      <% posts.forEach(post =>{ %>
      <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="/posts/<%=post._id %>"> <%=post.title%> </a></h5>
            <p class="card-text"><%=truncateText(post.desc, 100) %></p>
            <p>작성자: <%=post.author %></p>
            <div class="card-footer">
              <p class="card-text"><small class="text-body-secondary"><%=post.updatedAt.toDateString()%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <% }) %>
    </ul>
    <% } %> <% function truncateText(text, maxLength) { if (text.length >
    maxLength) { return text.slice(0, maxLength) + '...'; } return text; } %>
    <!-- 부트스트랩 JS (필요한 경우) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
