<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/home_style.css">
  </head>
  <body>
    <% if (loggedInUser) { %>
      <header class="header">
        <a href="#" class="logo">Logo</a>      
        <nav class="navbar">
          <a href="/">Home</a>
          <a href="/profile">Profile</a>
          <a href="/cgv">CGV</a>
          <a href="/users">가입된 유저들 목록</a>
          <a href="/createPost">글쓰기</a>
          <form action="/logout" method="POST">
            <button type="submit">로그아웃</button>
          </form> 
        </nav>
      </header>

      <h1>Home</h1>
      <h2>안녕하세요, <%= loggedInUser.username %>님!</h2>
    
    <ul>
      <% users.forEach(user =>{ %>
      <li>
        <p>사용자명: <%= user.username %></p>
        <p>생년월일: <%= user.birthdate.toDateString() %></p>
        <a href="/profile/<%=user._id %>">
          <img src="/profile-image/<%=user.id%>" alt="프로필사진" />
        </a>
      </li>

      <% }) %>
    </ul>

    <% } else { %>

    <header class="header">
      <a href="#" class="logo">Logo</a>      
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/signup">Sign up</a>
        <a href="/profile">Profile</a>
        <a href="/login">Login</a>
        <a href="/cgv">CGV</a>
        <a href="/users">가입된 유저들 목록</a>
      </nav>
    </header>
    
    <br><br>
    <ul>
      <% posts.forEach(post =>{ %>
      <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="/posts/<%=post._id %>"> <%=post.title%> </a></h5>
            <p class="card-text"><%=truncateText(post.desc, 100) %></p>
            <p>작성자: <%=post.author %></p>
            <div class="card-footer">
              <p class="card-text"><small class="text-body-secondary"><%=post.updatedAt.toDateString()%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <% }) %>
    </ul>
    <% } %> <% function truncateText(text, maxLength) { if (text.length >
    maxLength) { return text.slice(0, maxLength) + '...'; } return text; } %>

  </body>
</html>
