<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= post.title %></title>
  </head>
  <body>
    <h1><%= post.title %></h1>
    <p>본문: <%= post.desc %></p>
    <p>작성자: <%= post.author %></p>
    <p>작성날짜: <%= post.updatedAt %></p>
    <!-- 추가적인 정보들을 표시할 수 있음 -->
    <% if (post.author === loggedInUser.username) { %>
    <form action="/delete-post/<%=post._id %>?_method=DELETE" method="POST">
      <button type="submit">삭제</button>
    </form>
    <a href="/edit-post/<%=post._id %>">수정</a>
    <% } %>

    <a href="/">홈으로</a>
  </body>
</html>
