<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>전체 게시판</title>
  </head>
  <body>
    <h1>전체 게시판</h1>
    <ul>
      <% posts.forEach(post =>{ %>
      <li>
        <a href="/posts/<%=post._id %>">
          <p>제목: <%=post.title%></p>
        </a>
        <p>본문: <%=post.desc %></p>
        <p>작성자: <%=post.author %></p>
        <p>작성날짜: <%=post.updatedAt.toDateString()%></p>
        <button class="like-button" data-post-id="<%=post._id %>">
          좋아요
        </button>
      </li>
      <% }) %>
    </ul>

    <a href="/">홈으로</a>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const likeButton = document.querySelector(".like-button");

        likeButton.addEventListener("click", async () => {
          const postId = likeButton.getAttribute("data-post-id");
          try {
            const response = await fetch(`like/${postId}`, { method: "POST" });
            if (response.ok) {
              const data = await response.json();
              const updatedLikes = data.likes;
              likeButton.textContent = `좋아요 ${updatedLikes}개`;
            }
          } catch (error) {
            console.error(error);
          }
        });
      });
    </script>
  </body>
</html>
